body {
    background-image: url('../../assets/images/image.webp');
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(255, 255, 255, 0);
}

@media (max-aspect-ratio: 1/1) {
  body {
    background-size: auto 100%;
    background-position: right bottom;
  }
}

footer,
.md-footer {
  display: none !important;
}

header {
    background-color: transparent !important;
    box-shadow: none !important;
}
